body {
    background-color: dimgray;
    height: 100%;
    color: #333;
}

.border {
    height: 100%;
    margin-top: 10%;
    padding-top: 3%;
    background-color: mistyrose;
    margin-bottom: 10%;
    padding-bottom: 3%;
}

h3 {
    font-family: 'Gruppo', cursive;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

h5 {
    font-family: 'Gruppo', cursive;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding-bottom: 3%;
}

#btnSendEmail {
    background-color: palevioletred;
    color: white;
    border-radius: 5%;
    border-color: mistyrose;
    border: 1px;
}

.inActive {
    background-color: white;
}

#addApp {
    background-color: white;
    padding: 5%;
}

.input {
    border: 2px solid grey;
    padding: 10px;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.result {
    border: 2px solid grey;
    padding: 10px;
    width: 50px;
    display: inline-block;
    text-align: center;
}